{% extends "formbasic.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome to some friends wid benefits page</h1>
  <p>We dont save any info so we do not care just chill buddy</p>
   <form action="{{url_for('thank_u')}}">
     <label for="first">First tharki name:</label>
     <input type="text" name="first">
     <label for="last">last tharki name:</label>
     <input type="text" name="last">
     <input type="submit" value="kr submit tharki laude">

   </form>


</div>
{% endblock %}
